.mstudies {
    padding: 64px 0;
}

.studies__wrap {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.studies__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.studies__heading-title {
    color: #413E52;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.studies__heading-link {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #413E52;
    font-size: 14px;
    font-weight: 400;
    line-height: 29px;
    transition: color .2s linear;
}

.studies__heading-link img {
    transition: transform .2s linear;
}

.studies__heading-link:hover img {
    transform: translateX(2px);
}

.studies__heading-link:hover {
    color: #5C5CFF;
}

.studies__content {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    overflow-x: scroll;
    padding-bottom: 34px;
}

.studies__content::-webkit-scrollbar {
    height: 3px;
    background: #868297;
}

.studies__content::-webkit-scrollbar-thumb {
    background: #413E52;
    transition: .2s linear;
}


.studies__content-card {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid #EBEAF2;
    background: #FFF;
    box-shadow: 0px 24px 24px 0px rgba(52, 52, 147, 0.121);
    transition: box-shadow .2s linear;
}

.studies__content-card:hover {
    box-shadow: 0px 24px 24px 0px rgba(52, 52, 147, 0.32);
}

.studies__content-card-poster {
    width: 696px;
    height: 360px;
    object-fit: cover;
}

.studies__content-card-desc {
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.studies__content-card-desc_name {
    color: #868297;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;

}

.studies__content-card-desc_text {
    color: #413E52;
    font-size: 29px;
    font-weight: 400;
    line-height: 42px;

}

.studies__content-list {
    min-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 38px;
}



.studies__content-list-item_link {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.studies__content-list-item_link-name {
    color: #868297;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;

}

.studies__content-list-item_link-text {
    color: #413E52;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    transition: color .2s linear;
}

.studies__content-list-item_link:hover .main__studies__content-list-item_link-text {
    color: #5C5CFF;
}

@media screen and (max-width:1250px){
    .studies__content {
        flex-direction: column;
    }
}
